/* General Styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}
ul {
  list-style: none;
}
/* Header */
.background {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
}
header {
  max-height: 820px;
}
.header-text {
  position: relative;
  bottom: 25rem;
  z-index: 10;
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 50px;
} 
/* Container 1 */
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 5em;
}
/* Item 1 */
.item-1 {
  margin: 5em auto 0 10rem;
}
.titlebox {
  position: relative;
  margin: 0;
  top: 30%;
  left: 25%;
}
hr.title-orangebar {
  width: 4rem;
  border: 3px solid #ff600a;
}
.title_text p {
  margin-top: 0;
}
.title_text h2 {
  margin-bottom: 0;
}
/* Item 2 */
.item-2 {
  margin: 5em 18rem 0 auto;
}
.flexbox {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
.list-item1 {
  background: url(/images/icons/icons-services-badge.svg) left center no-repeat;
  min-height: 55px;
  margin-bottom: 1em;
} 
.list-item2 {
  background: url(/images/icons/icons-delivery-purchase.svg) left center no-repeat;
  min-height: 55px;
  margin-bottom: 1em;
}
.list-item3 {
  background: url(/images/icons/Groupe\ 155.svg) left center no-repeat;
  min-height: 55px;
  margin-bottom: 1em;
}
.list-item4 {
  background: url(/images/icons/icons-payment-payment.svg) left center no-repeat;
  min-height: 55px;
  margin-bottom: 1em;
}
.list-item5 {
  background: url(/images/icons/icons-delivery-home_delivery.svg) left center no-repeat;
  min-height: 55px;
}
.text-partner {
  padding-left: 4em; 
}
span {
  font-weight: bold;
}
/* Container 2 */
.container2 {
  display: flex;
  flex-direction: column;
}
/* Item 3 */
.title-orange-bar {
  width: 4rem;
  border: 3px solid #ff600a;
}
.title-text {
  text-align: center;
}
/* Item 4 */
.flexbox2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .list-item1 {
  background: url(/images/icons/Tracé\ 160.svg) no-repeat 5rem 0px transparent;
}
.list-item2 {
  background: url(/images/icons/icons-standard-cart.svg) no-repeat 5rem 0px transparent;
}
.list-item3 {
  background: url(/images/icons/icons-delivery-purchase-1.svg) no-repeat 5rem 0px transparent;
}
.list-item4 {
  background: url(/images/icons/icons-payment-secured_payment.svg) no-repeat 5rem 0px transparent;
}
.list-item5 {
  background: url(/images/icons/Groupe\ 134.svg) no-repeat 5rem 0px transparent;
} */
p.number {
  text-align: left;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  position: absolute;
  color: rgba(242, 146, 16, 0.4);
}
.text-content {
  text-align: center;
  width: 239px;
  margin-top: 0;
}
.text {
  position: relative;
  top: 1.5rem;
  margin-top: 0;
}
@media screen and (max-width: 699px)  {
  header {
    max-height: 215px; 
  }
  .header-text {
    bottom: 10em;
  }
  h1 {
    font-size: 22px;
  }
  .header-text h2 {
    font-size: 14px; 
  }
  .container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
  }
  .item-1 {
    margin-top: 2em;
    margin: 0 auto;
  }
  .titlebox {
    text-align: center;
    margin-right: 11em;
  }
  .item-2 {
    margin-top: 1em;
  }
  .flexbox {
    padding: 0.1em;
    justify-content: center;
  }
  .text-partner {
    width: 360px;
    height: auto;
    overflow-wrap: break-word;
  }
  span {
    font-weight: normal;
  }
  .flexbox2 {
    justify-content: center;
    padding-left: 0;
  }
  .text {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 700px) and (max-width: 1025px) {
  hr.title-orangebar {
    margin-left: 0;
  }
  .header-text {
    position: relative;
    bottom: 15em;
  }
  h1 {
    font-size: 40px;
  }
  .header-text h2 {
    font-size: 20px;
  }
  .container {
    position: relative;
    top: -10em;
    margin-left: 2em;
  }
  .item-1 {
    margin: 0 1em;
  }
  .item-2 {
    margin-left: 4em
  }
  .text-partner {
    overflow-wrap: break-word;
  }
  .container2 {
    position: relative;
    top: -10em;
  }
  .text-content {
    margin-right: 1em;
  }
}
@media screen and (min-width: 1026px) {
  hr.title-orangebar {
    margin-left: 0;
  }
}
