.flexbox-2 {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
p.number {
  text-align: left;
  position: relative;
  left: 0.5rem;
}
.text-content {
  text-align: center;
  width: 239px;
}
