/* General Styles */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
ul {
  list-style: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
          'left left main main main'
          'title title title title title'
          'footer footer footer footer footer';
}
.item-1 {
  grid-area: left;
  margin: 0 auto;
  padding-right: 20rem;
}
.item-2 {
  grid-area: main;
}
.item-3 {
  grid-area: title;
}
.item-4 {
  grid-area: footer;
}
/* Header */
.background {
  width: 1920px;
  min-height: 600px;
  clip-path: polygon(0 43%, 100% 42%, 100% 68%, 0 88%);
  position: absolute;
  bottom: 20rem;
}
header {
  min-height: 400px;
}
.header-text {
  position: relative;
  top: 5rem;
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-style: italic;
} 
/* Decathlon Partner Top List */
.titlebox {
  position: relative;
  margin: 0;
  top: 30%;
  left: 25%;
}
hr.title-orangebar {
  width: 4rem;
  border: 3px solid #ff600a;
}
.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.list-item {
  display: flex;
  margin-bottom: 2em;
}
.text-partner {
  padding-left: 2em;
}
span {
  font-weight: bold;
}
.title_text p {
  margin-top: 0;
}
.title_text h2 {
  margin-bottom: 0;
}
/* Title Box Bottom */
.title-orange-bar {
  width: 4rem;
  border: 3px solid #ff600a;
}
.title-text {
  text-align: center;
}
/* How does it work, bottom list */
.flexbox2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-item1 {
  background: url(/images/icons/Tracé\ 160.svg) no-repeat 5rem 0px transparent;
}
.list-item2 {
  background: url(/images/icons/icons-standard-cart.svg) no-repeat 5rem 0px transparent;
}
.list-item3 {
  background: url(/images/icons/icons-delivery-purchase-1.svg) no-repeat 5rem 0px transparent;
}
.list-item4 {
  background: url(/images/icons/icons-payment-secured_payment.svg) no-repeat 5rem 0px transparent;
}
.list-item5 {
  background: url(/images/icons/Groupe\ 134.svg) no-repeat 5rem 0px transparent;
}
p.number {
  text-align: left;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  position: absolute;
  color: rgba(242, 146, 16, 0.4);
}
.text-content {
  text-align: center;
  width: 239px;
  margin-top: 3em;
}
.text {
  position: relative;
  top: 1.5rem;
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-areas:
          'left'
          'main' 
          'title'
          'footer';
  }
  .flexbox {
    flex-direction: column;
  }
  .text {
    margin-bottom: 2.5rem;
  }
}
@media screen and (min-width: 600px) {
  hr.title-orangebar {
    margin-left: 0;
  }
}